.highlight-section{
       margin-top: -20px;
       height: auto;
       width: 100vw;
       background-color: #6369D1;
      h2{
        padding: 100px 0px 30px 150px;
        
        font-family: 'bruno-ace-sc-regular', sans-serif;
      
        background: linear-gradient(to right, #ffffff, #D8D2E1, #D8D2E1, #cccbcb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
       
        
      }
}
.video-section{
  overflow: hidden;
  padding-bottom: 57%;
  position: relative;
  height: 0;
 
  iframe{
    top: 0;
    height: 70%;
    width: 80vw;
    position: absolute;
    padding: 0 10vw;
    
    // border: 3px solid white;
    // border-radius: 13px;
  }
}