.home-section{
    height: 90vh;
    width: 100vw;
    background-color: #6369D1;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    .pictureSection{
        margin-left: 150px;
        margin-top: 25px;
        img{
            height: 550px;
            width: 300px;
        }
    }
    .buttonSection{
        margin-top: 100px;
        h2{
            font-size: 70px;
            background: linear-gradient(
                to right, #ffffff, #D8D2E1,
                 #D8D2E1, #202020);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
        button{
            padding: 10px 30px;
            color: #D8D2E1;
            background: #B88E8D;
            box-shadow: 8px -12px 19px -78px rgba(201, 201, 201, 0.69);
            border-radius: 10px;
            border: none;
            font-size: 20px;
            margin: -15px 200px;
            img{
                height: 25px;
                width: 25px;
                margin-bottom: -5px;
                padding-right: 10px;
            }
        }
    }
}
@media(max-width: 900px){
    .home-section{
        grid-template-columns: 1fr;
        .pictureSection{
            display: grid;
            place-items: center;
            margin-left: 0;
           img{
               width: 230px;
               height: 420px;
           }
        }
        .buttonSection{
            display: grid;
            place-items: center;
            h2{
                font-size: 35px;
            }
            button{
                margin: 0;
            }
        }
    }
    
}