.navbar-section{
    width: 100vw;
    height: 70px;
    background-color: #6369D1;
    color: #D8D2E1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .logo{
        font-size: 30px;   
        width: 30vw;
        padding-top: 10px;
        padding-left: 100px;
     }
   .list-items{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       list-style: none;
       padding-right: 100px;
       place-content: center;
       justify-items: end;
       align-items: end;
      li{
          padding: 5px 2px;
      }
   }
}
@media(max-width:600px){
    .navbar-section{
        grid-template-columns: 1fr;
        place-items: center;
        .logo{
            padding: 0;
        }
        .list-items{
            display: none;
        }
    }
}
